// $lightbackground: #ffffff;
// $buttoncolor1: #5a3ac7;
// $buttoncolor2: #4c40f8;
// $buttondark: #082032;

// $primarylight: #2c3329;  //nav-bar-color
// $primarydark: #2061cd;
// $lightgrey: #72777e;    //experience detailed text
// $lightwhite: #ffffff;  //nav-selected-page-text logo tags <projects></projects>
// $lightblack: #2c394b;  //experience titles




$lightbackground: #ffffff;
$buttoncolor1: #5a3ac7;
$buttoncolor2: #4c40f8;
$buttondark: #082032;

$primarylight: #3c83f3;
$primarydark: #2061cd;
$lightgrey: #72777e;
$lightwhite: #ffffff;
$lightblack: #2c394b;
